includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - app

  # The level 8 is the highest level
  level: 5

  ignoreErrors:
    - '#Access to an undefined property [a-zA-Z0-9\\\|_<>]+::\$[a-zA-Z0-9\\_]+#'
    - '#Call to an undefined static method [::a-zA-Z0-9\\_]+\(\)#'
    # - '#Call to static method [a-zA-Z0-9\\_]+\(\) on an unknown class [a-zA-Z0-9\\_]+#'

  excludePaths:
    - ./tests/*

  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
